<!DOCTYPE html>
<html>
<head>
<style>
#JSONUser {
    font-family: "Verdana, Arial, Helvetica, sans-serif
    width: 80%;
    border-collapse: collapse;
    
}

#JSONUser td, #JSONUser th {
    font-size: .8em;
    border: 1px solid #7799BB;
    color: #000000;
    line-height: 90%
    padding: 3px 2px 2px 2px;
}

#JSONUser th {
    font-size: .8em;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #7799BB;
}

#JSONUser tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
</style>
</head>